/**
 * Modified from https://github.com/clocklimited/BasicExpressSite
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
html, body {
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
}
header {
  font-family: 'Quicksand';
  padding: 10vh 5vw;
  color: #fff;
  font-size: 25px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #fa5b4d;
  border-bottom: 1px solid #df1806;
  text-shadow: 0px -1px 0px #df1806;
}
.container {
  width: 74vw;
  margin: 12vw;
  overflow: hidden;
}
.main-content {
  float: left;
}
.main-content p {
  margin-bottom: 20px;
}
p {
  line-height: 1.5;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
/**
 * Graph
 */
#container {
  margin: 5vh 13vw;
  width: 74vw;
}